{% extends "base.html" %}
{% block content %}
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>All Companies</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
	    	<div class="container">
				<div class="row">
                {% for company in companies %}
					<div class="col-md-3 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{% url 'aldaleel.views.company_details' %}"><img src="{{ MEDIA_URL }}{{ company.image }}" alt="Project Name"></a>
							</div>
							<div class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">{{ company.name }}</li>
									<li>{{ company.category.english_name }}</li>
									<li>{{ company.short_description }}</li>
									<li class="read-more"><a href="{% url 'aldaleel.views.company_details' %}" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
                {% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
{% block javascript %}
    <script>
      $(document).ready(function () {
        $(".mainmenu li").removeClass("active");//this will remove the active class from
                                           //previously active menu item
        $('#companies').addClass('active');
    });
    </script>
{% endblock %}