{% extends "base.html" %}
{% block content %}
    {% block slider %}
        <!-- Homepage Slider -->
    {% include "slider.html" %}
        <!-- End Homepage Slider -->
{% endblock %}
		<!-- Press Coverage -->
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-wired">
							<a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-mashable">
							<a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-techcrunch">
							<a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
						</div>
					</div>
				</div>
			</div>
		</div>
                <div class="eshop-section section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!-- Product -->
						<div class="shop-item">
							<!-- Product Image -->
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product1.jpg" alt="Item Name"></a>
							</div>
							<!-- Product Title -->
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<!-- Read More Button -->
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
						<!-- End Product -->
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product2.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product3.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product4.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product5.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product6.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product7.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="{% url 'aldaleel.views.company_details' 1 %}"><img src="{{ STATIC_URL }}img/product8.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="{% url 'aldaleel.views.company_details' 1 %}">Lorem ipsum dolor</a></h3>
							</div>
							<div class="actions">
								<a href="{% url 'aldaleel.views.company_details' 1 %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination-wrapper ">
					<ul class="pagination pagination-lg">
						<li class="disabled"><a href="#">Previous</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
	    </div>

		<!-- Our Clients -->
	    <div class="section">
	    	<div class="container">
	    		<h2>Our Clients</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/canon.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/cisco.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/dell.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/ea.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/ebay.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/facebook.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/google.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/hp.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/microsoft.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/mysql.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/sony.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ STATIC_URL }}img/logos/yahoo.png" alt="Client Name"></a></div>
				</div>
			</div>
	    </div>

	    <!-- End Our Clients -->
{% endblock %}
{% block javascript %}
    <script>
      $(document).ready(function () {
        $(".mainmenu li").removeClass("active");//this will remove the active class from
                                           //previously active menu item
        $('#home').addClass('active');
    });
    </script>
{% endblock %}